.mq-willow-lottie{
	--accent: linear-gradient(44deg, #003554, #0582ca);
	--color-c: #035c8f;
	--border-c: 1px solid #035c8f;
}
.mq-willow-elliott{
	--accent: linear-gradient(44deg, #003554, #0582ca);
	--color-c: #035c8f;
	--border-c: 1px solid #035c8f;
}
.mq-willow-lily{
	--accent: linear-gradient(44deg, #e36414, #fb8b24);
	--color-c: #ef781c;
	--border-c: 1px solid #ef781c;
}
.mq-willow-base1 {
	--bcg1: #2c2c2c80;
	--bcg2: #50505080;
	--bcg3: #242424;
	--color-h:#d4d4d4;
	--border-g: 1px solid #505050;
	box-sizing: border-box;
	width: 500px;
	background-color: var(--bcg1);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
	font-family: "Lato", sans-serif;
	border: var(--border-g);
	padding: 20px;
	margin: 10px auto;
}
.mq-willow-base1 br {
	display: none;
}
.mq-willow-title1 {
	display: block;
	font-size: 18px;
	font-style: italic;
	line-height: 120%;
	text-transform: lowercase;
	background: var(--accent);
	-webkit-background-clip: text;
	color: transparent;
	padding: 0px 15px 25px 15px;
}
.mq-willow-grid1 {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(1, 100%);
	background-color:var(--bcg2);
	border:var(--border-g);
	padding: 12px;
}
.mq-willow-thr1 {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	border: var(--border-g);
	background-color: var(--bcg3);
	align-items: center;
	justify-content: flex-start;
	padding: 10px;
	padding-left: 14px;
	margin-bottom: 12px;
}
.mq-willow-thr1:last-of-type {margin-bottom:0px;}
.mq-willow-thr1:hover {opacity:1}
.mq-willow-thr1>i {
	background: var(--accent);
	-webkit-background-clip: text;
	color: transparent;
	font-size: 60px;
	padding-right: 15px;
	opacity: 0.5;
	transition:0.4s;
}
.mq-willow-thr1:hover>i {opacity:1;}
.mq-willow-rd1 {
	display: flex;
	flex-direction: column;
	line-height:100%;
}
.mq-willow-rd1 br {display: initial;}
.mq-willow-rd1 a {
	color: var(--color-c);
	font-weight: 700;
	margin-bottom: 5px;
}
.mq-willow-rd1 span {
	font-size:0.85em;
	text-transform: lowercase;
}
.mq-willow-rd1 a:hover {color:var(--color-h);}
